<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose ="0" thread-count="10" name="LegionTest">
    <parameter name="environment" value="QA"/>
    <parameter name="testRail" value="no"/>

    <listeners>
        <listener class-name="com.legion.tests.testframework.LegionTestListener"></listener>
    </listeners>

    <test name="Prepare Settings Test">
        <classes>
            <class name="com.legion.tests.core.PrepareSettingsTest">
                <methods>
                    <include name="prepareSettingsInControlsAsInternalAdmin"/>
                </methods>
            </class>
        </classes>
    </test>

     <test name="Schedule Test">
         <classes>
             <class name="com.legion.tests.core.RegressionTest">
                 <methods>
                        <include name="validateScheduleUngenerateFeatureAsInternalAdmin"/>
                        <include name="validateScheduleSmartCardsAsStoreManager"/>
                        <include name="validateScheduleGenerationFunctionalityAsStoreManager"/>
                        <include name="validateGuidanceWeekAsStoreManager"/>
                        <include name="validateSchedulePublishAsStoreManager"/>
                        <include name="editManualShiftScheduleAsStoreManager"/>
                        <include name="updateControlsSectionLoadingAsInternalAdmin"/>
                        <include name="scheduleSubTabNavigationStoreManager"/>
                        <include name="navigateToNextDayIfActiveDayHasStoreClosedAsStoreManager"/>
                        <include name="validateWeatherForecastOnSchedulePageAsStoreManager"/>
                        <include name="verifyScheduleOverlappingAsInternalAdmin"/>
                        <include name="VerifyWhetherManagerCanApproveTimeOffRequestAsTeamMember"/>
                        <include name="generateScheduleAndCheckScheduleNTMSizeWeekView"/>
                        <include name="editAssignTeamScheduleAsStoreManager"/>
                     </methods>
                 </class>
             </classes>
         </test>

		<test name="Dashboard Test">
			<classes>
				<class name="com.legion.tests.core.DashboardTestKendraScott2">
					<methods>
					   <include name="verifyTheDisplayLocationWithSelectedLocation"/>
					   <include name="verifyTheClickActionOnChangeLocationButton"/>
					   <include name="verifyTheContentDisplayedInChangeLocationLayout"/>
					   <include name="verifyTheFunctionOfSearchTextBox"/>
					   <include name="verifyTheWelcomeMessage"/>
					   <include name="verifyTheFunctionOfViewTodaySchedule"/>
					   <include name="verifyTheDataSourceForBudgetScheduledOther"/>
                       <include name="verifyDashboardFunctionalityAsTeamMember" />
<!--                        <include name="verifyDashboardFunctionality" />-->
					</methods>
				</class>
		   </classes>
	   </test>

<!--		<test name="Controls Test">
		   <classes>
			   <class name="com.legion.tests.core.ControlsNewUITest">
				   <methods>
					   <include name="verifyScheduleScoreIsUpdated"/>
				   </methods>
			   </class>
		   </classes>
	   </test>-->
    <test name="TeamTab Test KendraScott2">
       <classes>
           <class name="com.legion.tests.core.TeamTestKendraScott2">
               <methods>
<!--                   <include name="verifyTheTeamFunctionalityInRoster" />-->
<!--                   <include name="verifyTheTeamFunctionalityInTransfer" />-->
<!--                   <include name="verifyTheTeamFunctionalityInUpdateInfo" />-->
<!--                   <include name="verifyTheTeamFunctionalityInBadges" />-->
<!--                   <include name="verifyTheTeamFunctionalityInInviteTeamMember" />-->
                   <include name="verifyTheTeamFunctionalityInWorkPreferencesAsStoreManager" />
<!--                   <include name="verifyTheTeamFunctionalityInProfileSectionAsInternalAdmin" />-->
               </methods>
           </class>
       </classes>
   </test>

    <test name="TeamTab Test">
        <classes>
            <class name="com.legion.tests.core.TeamTest">
                <methods>
<!--                    <include name="verifyTheTeamFunctionalityInActivate" />-->
<!--                    <include name="verifyTheTeamFunctionalityInTerminate" />-->
                    <include name="verifyTheTeamFunctionalityInCoverageAsStoreManager" />
                    <include name="verifyEditModeInNewUserProfilePageAsInternalAdmin" />
<!--                    <include name="verifyTheTeamFunctionalityInTimeOffAsInternalAdmin" />-->
                </methods>
            </class>
        </classes>
    </test>


    <test name="Overview Test">
        <classes>
            <class name="com.legion.tests.core.ScheduleOverviewTest">
                <methods>
                    <include name="verifyScheduleFunctionalityOverviewAsStoreManager"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Schedule New UI Test">
        <classes>
            <class name="com.legion.tests.core.ScheduleTestKendraScott2">
                <methods>
                    <include name="verifyScheduleLegionFunctionality" />
                    <include name="verifyComplianceSmartCardFunctionality" />
<!--                    <include name="verifyScheduleFunctionalitySchedule" />-->
                    <include name="verifyScheduleFunctionalityScheduleSmartCard"/>
                    <include name="verifyScheduleFunctionalityWeekView"/>
                    <include name="verifyScheduleFunctionalityDayView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleInWeekView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleInDayView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleFilterCombinationInWeekView"/>
                    <include name="verificationOfMySchedulePageAsTeamMember" />
                    <include name="verificationOfToAndFroNavigationOfWeekPickerAsTeamMember" />
                    <include name="verifyProfilePictureFunctionalityAsTeamMember" />
                    <include name="verifyInfoIconFunctionalityAsTeamMember" />
                    <include name="verifyOpenShiftScheduleSmartCardAsTeamMember" />
<!--                    <include name="verifyTheContentOfCopyScheduleForNonDGFlowAsInternalAdmin" />-->
                    <include name="verifyContentAfterChangingOperatingHrsAsInternalAdmin" />
                    <include name="verifyContentAfterChangingOperatingHrsNextDayAsInternalAdmin" />
<!--                    <include name="verifyTheContentOfClosedWeekDayScheduleForNonDGFlowAsInternalAdmin" />-->
                    <include name="verifyBudgetHourInDMViewSchedulePageForNonDGFlowAsInternalAdmin" />
                    <include name="verifyComplianceViolationWhenScheduleIsNotPublishedAsInternalAdmin" />
                    <include name="verifyComplianceViolationWhenScheduleHasPublishedAsInternalAdmin" />
                    <!-- <include name="verifyContentOfBudgetHoursForNonDGFlowAsInternalAdmin" />-->
<!--                    <include name="verifyTooltipForDeleteShiftsAsInternalAdmin" />-->
                    <include name="verifyUnpublishedEditsTextOnDashboardAndOverviewPageAsInternalAdmin" />
                    <include name="verifySmartCardForScheduleNotPublishAsInternalAdmin" />
                    <include name="verifyNumberOnSmartCardForScheduleNotPublishAsInternalAdmin" />
<!--                    <include name="verifyAssignTMWarningForTMIsOnTimeOffAsStoreManager" />-->
                    <!-- <include name="verifyAssignTMWarningWhenTMIsInactiveAsStoreManager" />-->
                    <include name="verifyAssignTMWarningForTMIsAlreadyScheduledAsStoreManager" />
                    <include name="verifyAssignTMWarningForTMIsAlreadyScheduledAtAnotherStoreAsInternalAdmin" />
                    <include name="verifySearchBarOnSchedulePageAsInternalAdmin" />
                    <include name="verifyVersionNumberAndEditsAsInternalAdmin" />
                    <include name="verifyOffersGeneratedForOpenShiftsAsInternalAdmin" />
                    <include name="verifyAssignTMMessageWhenScheduleTMToAnotherLocationWithHomeLocationScheduleNotBeenGeneratedOrPublishedAsInternalAdmin" />
                    <include name="verifyAssignTMMessageWhenScheduleTMFromAnotherLocationWhereScheduleNotBeenGeneratedAsInternalAdmin" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Schedule Test LegionCoffee">
        <classes>
            <class name="com.legion.tests.core.ScheduleTest">
                <methods>
<!--                    <include name="verifyTheTeamMemberViewSwapAsInternalAdmin" />-->
<!--                    <include name="verifyTheTeamMemberViewCoverAsInternalAdmin" />-->
                    <include name="verifyTheTeamScheduleOptionAsInternalAdmin" />
<!--                    <include name="verifyTheFunctionalityOfSwapAndCoverAsInternalAdmin" />-->
                    <include name="verifyTheFeatureOfFilterAsInternalAdmin" />
                    <include name="verifyTheFunctionalityOfClaimOpenShiftAsTeamMember" />
                </methods>
            </class>
        </classes>
    </test>

<!--        <test name="Forecast Test">
            <classes>
                <class name="com.legion.tests.core.ForecastTest">
                    <methods>
                        <include name="verifyScheduleLaborForeCastFunctionality"/>
                        <include name="verifyShopperForecastFunctionality"/>
                        <include name="validateWeatherSmartCardOnForecastPage"/>
                        <include name="verifyScheduleFunctionalityForecast"/>
                    </methods>
                </class>
            </classes>
        </test>-->
    <test name="Activity Test">
        <classes>
            <class name="com.legion.tests.core.ActivityTest">
                <methods>
                    <include name="verifyTheContentOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyAccessControlsOnActivitiesPage"/>
                    <include name="verifyTheContentOnActivityAsStoreManager"/>
                    <include name="verifyTheContentOfShiftSwapActivityAsStoreManager"/>
                    <include name="verifyApproveCoverRequestOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyRejectCoverRequestOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyTheContentOfActivityPageAsStoreManager" />
                    <include name="verifyToCloseActivityFeedAsStoreManager" />
                    <include name="verifyNavigationOfEachTabOnActivityAsStoreManager" />
                    <include name="verifyTheNotificationOfWorkPreferencesAsTeamMember" />
                    <include name="verifyTheNotificationOfBusinessProfileAsTeamMember" />
                    <include name="verifyTheContentOfShiftSwapActivityWithoutApprovalAsInternalAdmin" />
                    <include name="verifyTheFunctionOfShiftSwapActivityAsInternalAdmin" />
                    <include name="verifyTheContentOfRejectShiftSwapActivityAsInternalAdmin" />
                    <include name="verifyActivityOfClaimOpenShiftAsTeamMember" />
                    <include name="verifyActivityOfPublishUpdateSchedule" />
                    <include name="verifyTheNotificationForCancelTimeOffAsInternalAdmin"/>
<!--                    <include name="verifyNoNotificationForActivateTMAsStoreManager"/>-->
                    <include name="verifyTheNotificationForRequestTimeOffAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailabilityRepeatForwardWithConfNOAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailability4SpecificWeekWithConfNOAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailabilityRepeatForwardWithConfYesAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailability4SpecificWeekWithConfYesAsInternalAdmin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Profile Test">
        <classes>
            <class name="com.legion.tests.core.ProfileNewUITestKendraScott2">
                <methods>
<!--                    <include name="verifyMyProfileDetailsByUpdatingTheInformationAsTeamMember2" />-->
                    <include name="verifyWorkPreferenceDetailsByUpdatingTheInformationAsTeamMember" />
<!--                    <include name="verifyCreateNewTimeOffFunctionalityAsTeamMember" />-->
                    <include name="verifyTheContentOfNewProfilePageAsInternalAdmin" />
                    <include name="verifyTheContentOfNewProfilePageInTMViewAsTeamMember" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="LiquidDashboard Test">
        <classes>
            <class name="com.legion.tests.core.LiquidDashboardTest">
                <methods>
                    <include name="verifyCommonUIOfWidgetsAsStoreManager" />
<!--                    <include name="verifyTheContentOfStartingSoonWidgetAsInternalAdmin" />-->
                    <include name="verifyNoContentInStartingSoonWidgetAsInternalAdmin" />
                    <include name="verifyTheContentOfAlertWidgetAsStoreManager" />
<!--                    <include name="verifyTheContentOfTimesheetApprovalStatusWidgetAsStoreManager" />-->
<!--                    <include name="verifyTheContentOfOpenShiftsAsInternalAdmin" />-->
<!--                    <include name="verifySwitchWeekOfOpenShiftsAsStoreManager" />-->
<!--                    <include name="dataValidationOfOpenShiftsUnclaimedAsStoreManager" />-->
<!--                    <include name="dataValidationOfOpenShiftsClaimedAsTeamMember" />-->
<!--                    <include name="verifyHelpfulLinksWidgetsAsStoreManager" />-->
                    <include name="verifyTodayForecastWidgetsAsStoreManager" />
                    <include name="verifySchedulesWidgetsAsStoreManager" />
                    <!--<include name="verifyComplianceViolationWidgetsAsStoreManager" /> -->
<!--                    <include name="verifyNoContentOfSwapNCoverWidgetAsInternalAdmin" />-->
<!--                    <include name="verifyTimesheetApprovalRateWidgetAsStoreManager" />-->
<!--                    <include name="verifyTheContentOfSwapNCoverWidgetAsInternalAdmin" />-->
                </methods>
            </class>
        </classes>
    </test>

    <test name="Inbox Test">
        <classes>
            <class name="com.legion.tests.core.InboxTest">
                <methods>
                    <include name="verifyGFEReportsAreAbleToExportAsInternalAdmin"/>
                    <include name="verifyTheContentOfOperationHoursAndTheFirstDayOfWeekAsInternalAdmin" />
                    <include name="verifyVSLInfoShowsOrNotAsInternalAdmin" />
                    <include name="verifyTheContentOfWeekSummaryForDifferentTMAsInternalAdmin" />
              <!--      <include name="verifyTurnOffGFEAsInternalAdmin" /> -->
                    <include name="verifyTurnOnGFEAsInternalAdmin" />
                    <include name="verifyTheTemplateLoadedWhenSelectingGFEAsInternalAdmin" />
                    <include name="verifyContentOfGFEAsInternalAdmin" />
                    <include name="verifyVSLInfoAsInternalAdmin" />
<!--                    <include name="verifyTheColumnAndCountOfGFEReportAsInternalAdmin" />-->
                    <include name="verifyTheMostRecentGFEIsInReportAsInternalAdmin" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Drag And Drop Test">
        <classes>
            <class name="com.legion.tests.core.DragAndDropTest">
                <methods>
                    <include name="verifyWarningModelForTimeOffAsInternalAdmin"/>
                    <include name="verifyWarningMessageForAlreadyScheduledAtHomeLocationAsInternalAdmin" />
                    <include name="verifyWarningMsgForTMFromAnotherStoreScheduledAtCurrentLocationAsInternalAdmin" />
                    <include name="verifyWarningModelForClopeningAsInternalAdmin" />
                    <include name="verifyWarningMessageWhenAssignTMToOpenShiftThatTMIsAlreadyAssignedToAsStoreManager" />
                    <include name="verifySwapWarningModelForRoleViolationConfigYesAsInternalAdmin" />
                    <include name="verifySwapWarningModelForRoleViolationConfigNoAsInternalAdmin" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Scheduling Minor Test">
        <classes>
            <class name="com.legion.tests.core.SchedulingMinorTest">
                <methods>
                    <include name="verifyEditMinorRulesAsInternalAdmin"/>
                    <include name="verifyNoWarningMessageAndViolationDisplayWhenMinorIsNotAvoidMinorSettingsAsInternalAdmin" />
                    <include name="verifyTheWarningMessageAndViolationWhenMinorShiftIsNotDuringTheSettingTimeAsInternalAdmin" />
                    <include name="verifyTheWarningMessageAndViolationWhenMinorShiftsExceedTheWeeklyHoursAsInternalAdmin" />
                    <include name="verifyTheWarningMessageAndViolationWhenMinorShiftDaysExceedTheWeekDaysInSettingAsInternalAdmin" />
                    <include name="verifyNoWarningMessageAndViolationDisplayWhenMinorIsNotAvoidMinorSettingsAsInternalAdmin"/>
                    <include name="verifyWarningMessageForExceedWeekdayHrsAsInternalAdmin"/>
                    <include name="verifyWarningMessageForExceedWeekendHrsAsInternalAdmin"/>
                    <include name="verifyTheWarningMessageAndViolationWhenMinorIsUnder14YearsOldAsInternalAdmin" />
                </methods>
            </class>
        </classes>
    </test>

</suite> <!-- Suite -->
