<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose ="0" thread-count="10" name="LegionTest">
    <parameter name="environment" value="QA"/>
    <parameter name="testRail" value="no"/>

    <listeners>
        <listener class-name="com.legion.tests.testframework.LegionTestListener"></listener>
    </listeners>


     <test name="Schedule Test">
         <classes>
             <class name="com.legion.tests.core.RegressionTest">
                 <methods>
                        <include name="validateScheduleUngenerateFeatureAsInternalAdmin"/>
                        <include name="validateScheduleSmartCardsAsStoreManager"/>
                        <include name="validateScheduleGenerationFunctionalityAsStoreManager"/>
                        <include name="validateGuidanceWeekAsStoreManager"/>
                        <include name="validateSchedulePublishAsStoreManager"/>
                        <include name="editManualShiftScheduleAsStoreManager"/>
                        <include name="updateControlsSectionLoadingAsInternalAdmin"/>
                        <include name="scheduleSubTabNavigationStoreManager"/>
                        <include name="navigateToNextDayIfActiveDayHasStoreClosedAsStoreManager"/>
                        <include name="validateWeatherForecastOnSchedulePageAsStoreManager"/>
                        <include name="verifyScheduleOverlappingAsInternalAdmin"/>
                        <include name="VerifyWhetherManagerCanApproveTimeOffRequestAsTeamMember"/>
                        <include name="generateScheduleAndCheckScheduleNTMSizeWeekView"/>
                        <include name="editAssignTeamScheduleAsStoreManager"/>
                     </methods>
                 </class>
             </classes>
         </test>

		<test name="Dashboard Test">
			<classes>
				<class name="com.legion.tests.core.DashboardTestKendraScott2">
					<methods>
					   <include name="verifyTheDisplayLocationWithSelectedLocation"/>
					   <include name="verifyTheClickActionOnChangeLocationButton"/>
					   <include name="verifyTheContentDisplayedInChangeLocationLayout"/>
					   <include name="verifyTheFunctionOfSearchTextBox"/>
					   <include name="verifyTheWelcomeMessage"/>
					   <include name="verifyTheFunctionOfViewTodaySchedule"/>
					   <include name="verifyTheDataSourceForBudgetScheduledOther"/>
                       <include name="verifyDashboardFunctionalityAsTeamMember" />
                        <include name="verifyDashboardFunctionality" />
					</methods>
				</class>
		   </classes>
	   </test>

		<test name="Controls Test">
		   <classes>
			   <class name="com.legion.tests.core.ControlsNewUITest">
				   <methods>
					   <include name="verifyScheduleScoreIsUpdated"/>
				   </methods>
			   </class>
		   </classes>
	   </test>
    <test name="TeamTab Test KendraScott2">
       <classes>
           <class name="com.legion.tests.core.TeamTestKendraScott2">
               <methods>
                   <include name="verifyTheTeamFunctionalityInRoster" />
                   <include name="verifyTheTeamFunctionalityInTransfer" />
                   <include name="verifyTheTeamFunctionalityInUpdateInfo" />
                   <include name="verifyTheTeamFunctionalityInBadges" />
                   <include name="verifyTheTeamFunctionalityInWorkPreferencesAsStoreManager" />
                   <include name="verifyTheTeamFunctionalityInProfileSectionAsInternalAdmin" />
               </methods>
           </class>
       </classes>
   </test>

    <test name="TeamTab Test">
        <classes>
            <class name="com.legion.tests.core.TeamTest">
                <methods>
                    <include name="verifyTheTeamFunctionalityInActivate" />
                    <include name="verifyTheTeamFunctionalityInTerminate" />
                    <include name="verifyTheTeamFunctionalityInCoverageAsStoreManager" />
                    <include name="verifyTheTeamFunctionalityInTimeOffAsStoreManager" />
                </methods>
            </class>
        </classes>
    </test>


    <test name="Overview Test">
        <classes>
            <class name="com.legion.tests.core.ScheduleOverviewTest">
                <methods>
                    <include name="verifyScheduleFunctionalityOverviewAsStoreManager"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Schedule New UI Test">
        <classes>
            <class name="com.legion.tests.core.ScheduleTestKendraScott2">
                <methods>
                    <include name="verifyScheduleLegionFunctionality" />
                    <include name="verifyComplianceSmartCardFunctionality" />
                    <include name="verifyScheduleFunctionalitySchedule" />
                    <include name="verifyScheduleFunctionalityScheduleSmartCard"/>
                    <include name="verifyScheduleFunctionalityWeekView"/>
                    <include name="verifyScheduleFunctionalityDayView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleInWeekView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleInDayView"/>
                    <include name="viewAndFilterScheduleWithGroupByJobTitleFilterCombinationInWeekView"/>
                    <include name="verificationOfMySchedulePageAsTeamMember" />
                    <include name="verificationOfToAndFroNavigationOfWeekPickerAsTeamMember" />
                    <include name="verifyProfilePictureFunctionalityAsTeamMember" />
                    <include name="verifyInfoIconFunctionalityAsTeamMember" />
                    <include name="verifyOpenShiftScheduleSmartCardAsTeamMember" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Schedule Test LegionCoffee">
        <classes>
            <class name="com.legion.tests.core.ScheduleTest">
                <methods>
                    <include name="verifyTheTeamMemberViewSwapAsInternalAdmin" />
                    <include name="verifyTheTeamMemberViewCoverAsInternalAdmin" />
                    <include name="verifyTheTeamScheduleOptionAsInternalAdmin" />
                    <include name="verifyTheFunctionalityOfSwapAndCoverAsInternalAdmin" />
                    <include name="verifyTheFeatureOfFilterAsTeamMember" />
                    <include name="verifyTheFunctionalityOfClaimOpenShiftAsTeamMember" />
                </methods>
            </class>
        </classes>
    </test>

        <test name="Forecast Test">
            <classes>
                <class name="com.legion.tests.core.ForecastTest">
                    <methods>
                        <include name="verifyScheduleLaborForeCastFunctionality"/>
                        <include name="verifyShopperForecastFunctionality"/>
                        <include name="validateWeatherSmartCardOnForecastPage"/>
                        <include name="verifyScheduleFunctionalityForecast"/>
                    </methods>
                </class>
            </classes>
        </test>
    <test name="Activity Test">
        <classes>
            <class name="com.legion.tests.core.ActivityTest">
                <methods>
                    <include name="verifyTheContentOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyAccessControlsOnActivitiesPage"/>
                    <include name="verifyTheContentOnActivityAsStoreManager"/>
                    <include name="verifyTheContentOfShiftSwapActivityAsStoreManager"/>
                    <include name="verifyApproveCoverRequestOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyRejectCoverRequestOfShiftSwapActivityAsInternalAdmin"/>
                    <include name="verifyTheContentOfActivityPageAsStoreManager" />
                    <include name="verifyToCloseActivityFeedAsStoreManager" />
                    <include name="verifyNavigationOfEachTabOnActivityAsStoreManager" />
                    <include name="verifyTheNotificationOfWorkPreferencesAsTeamMember" />
                    <include name="verifyTheNotificationOfBusinessProfileAsTeamMember" />
                    <include name="verifyTheContentOfShiftSwapActivityWithoutApprovalAsInternalAdmin" />
                    <include name="verifyTheFunctionOfShiftSwapActivityAsInternalAdmin" />
                    <include name="verifyTheContentOfRejectShiftSwapActivityAsInternalAdmin" />
                    <include name="verifyActivityOfClaimOpenShiftAsTeamMember" />
                    <include name="verifyActivityOfPublishUpdateSchedule" />
                    <include name="verifyTheNotificationForCancelTimeOffAsStoreManager"/>
                    <include name="verifyNoNotificationForActivateTMAsStoreManager"/>
                    <include name="verifyTheNotificationForRequestTimeOffAsStoreManager"/>
                    <include name="verifyNotificationForUpdateAvailabilityRepeatForwardWithConfNOAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailability4SpecificWeekWithConfNOAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailabilityRepeatForwardWithConfYesAsInternalAdmin"/>
                    <include name="verifyNotificationForUpdateAvailability4SpecificWeekWithConfYesAsInternalAdmin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Profile Test">
        <classes>
            <class name="com.legion.tests.core.ProfileNewUITestKendraScott2">
                <methods>
                    <include name="verifyMyProfileDetailsByUpdatingTheInformationAsTeamMember2" />
                    <include name="verifyWorkPreferenceDetailsByUpdatingTheInformationAsTeamMember" />
                    <include name="verifyCreateNewTimeOffFunctionalityAsTeamMember" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="LiquidDashboard Test">
        <classes>
            <class name="com.legion.tests.core.LiquidDashboardTest">
                <methods>
                    <include name="verifyCommonUIOfwidgetsAsStoreManager" />
                    <include name="verifyTheContentOfStartingSoonWidgetAsInternalAdmin" />
                    <include name="verifyNoContentInStartingSoonWidgetAsInternalAdmin" />
                    <include name="verifyTheContentOfAlertWidgetAsStoreManager" />
                </methods>
            </class>
        </classes>
    </test>

</suite> <!-- Suite -->
